*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
} 

.section__title
{
    grid-area: st;
    text-align: center;
    margin:2rem
   
}
.sect__supt
{
   grid-area: sst;
   text-align: center;
}
#Dishes
{
  background-image: url(./image/main-packgroun.png);
  background-size: contain;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  grid-template-rows: auto auto auto ;
  grid-template-areas: 
  '. st st st .'
  '. sst sst sst .'
  '. m m m .';

  justify-content: center;
}
.menue
{
}

body{
  background-color:#CFD1D3;
}
/* Header Start */
.header{
  display: flex;
  justify-content:space-around;
  align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

  .header__logo {
    margin-top: 30px;
  }

  
  .header__links {
    display: flex;
    justify-self: center;
    grid-area: m;
}
.dishe{
    width: 12rem;
    height: 30rem;
}


.dish__img
{
width: 130px;
height: 130px;
position: relative;
left: 1rem;
bottom:-9rem;
}
.dish__price
{
    width:65px;
    height:65px;  
    position: relative;
    left:6.5rem;
    bottom:-2rem;
}

.dish-describtion
{
    padding:10px;
    border:1px ;
    border-style: solid;
    border-color:white;
    border-radius: 45px 9px;
    width: 10rem;
    height:12rem;
    text-align:center;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:10px;
}

.dish-describtion:hover
{
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

*{
box-sizing: border-box;
}



.subscribe__div{
    height: 60vh;
    background-image: url(image/cta-img-bg1.png);
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    padding-top: 100px;
    background-color: #373B44;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-items: center;
  font-size: 30px;
  color:#ffffff ;
  border-radius: 50px;
  overflow: hidden;
  
    }
  
  
   .subscribe__div form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
   }
   .subscribe__div button{
    background-color: #EA6D27;
    color: #ffffff;
    display: block;
      margin: auto;
      border-radius: 8px;
      align-items: center;
      border: none;
    }  
    .subscribe__div input{
        width: 100%;
        height: 20%;
      border: none;
  border-radius: 20px;
  outline: none;
  background-color: #e3e3e5;
    }
  
.footer__containar{
    max-width: 1700px;
    margin: auto;
}

.footer{
background-color: rgb(237, 239, 241);
padding: 70px;
}

ul{
list-style: none;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.footer__col{
width: 25%;
padding:0 15px;

}
.footer__col p{
    font-size: 13px;
    color: rgb(95, 94, 93);
}
.footer__col h4{
    font-size: 13px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight:300;
   
    
}

.footer__col ul li :not(:last-child){
margin-bottom: 5px;


}
.footer__col ul li a{
font-size: 10px;
color: rgb(56, 56, 55);
text-decoration: none;
font-weight: 100;
color: rgb(95, 94, 93);



}

.footer__col ul li a :hover{
    transform: scale(1.2);

}


  .footer__col .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    text-align: center;
    list-style: 30px;
    
    
}


.icons li {
    margin: 0 8px;
    color: black;
      }
      .footer-bottom {
        padding-top: 50px;
      }

.footer-bottom p{
    color: rgb(95, 94, 93);
    font-size: 10px;


}




.footer__containar img{
object-fit: contain;
height: 40px;
width: 100px;

}

.footer__col .time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    text-align: center;

    margin: 0 70px;
 padding-top: 40px;

}
.time li {
   
    color: black;
    padding: 20px;
    
      }

/* Home Section End *
