*
{
    box-sizing: border-box;
    margin: 0;
}

.section__title
{
    grid-area: st;
    text-align: center;
    margin:2rem
   
}
.sect__supt
{
   grid-area: sst;
   text-align: center;
}
#Dishes
{
  background-image: url(./image/main-packgroun.png);
  background-size: contain;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  grid-template-rows: auto auto auto ;
  grid-template-areas: 
  '. st st st .'
  '. sst sst sst .'
  '. m m m .';

  justify-content: center;
}
.menue
{
    display: flex;
    justify-self: center;
    grid-area: m;
}
.dishe{
    width: 12rem;
    height: 30rem;
}


.dish__img
{
width: 130px;
height: 130px;
position: relative;
left: 1rem;
bottom:-9rem;
}
.dish__price
{
    width:65px;
    height:65px;  
    position: relative;
    left:6.5rem;
    bottom:-2rem;
}

.dish-describtion
{
    padding:10px;
    border:1px ;
    border-style: solid;
    border-color:white;
    border-radius: 45px 9px;
    width: 10rem;
    height:12rem;
    text-align:center;
    font-size: smaller;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:10px;
}

.dish-describtion:hover
{
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}